
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table> <tr><td><a href="/Doc/">Создать перевод</a></td>
        
                <td><a href="/RKC/">РКЦ</a></td>
                <td><a href="/Bank/">Банки</a></td>
                <td><a href="/Deal/">Кредитные сделки</a></td>
        
        </tr>
    </table>

    <div> 
        Открытые кредитные сделки
        <table>
            <tr>
                <td>банк</td>
                <td>сумма</td>
                <td>смарт контракт</td>
                <td>клиент</td>
            </tr>
            @foreach (var d in ViewBag.ActiveDeals)
            {
                <tr>
                    <td>@d.BankOwner</td>
                    <td>@d.Sum</td>
                    <td>@d.SmartContractAddr</td>
                    <td>@d.Account</td>
                </tr>
            }
        </table>

        Закрытые кредитные сделки
        <table>
            <tr>
                <td>банк</td>
                <td>сумма</td>
                <td>смарт контракт</td>
                <td>клиент</td>
            </tr>
            @foreach (var d in ViewBag.ClosedDeals)
            {
                <tr>
                    <td>@d.BankOwner</td>
                    <td>@d.Sum</td>
                    <td>@d.SmartContractAddr</td>
                    <td>@d.Account</td>
                </tr>
            }
        </table>

    </div>
</body>
</html>
